/* HEADER */

/* FOOTER */

@media screen and (max-width: 992px) {
  .footer-img {
    max-width: 8%;
  }
}

/* INICIO DE MAIN */

.main-tittle {
  padding: 1.5% 0% 1.5% 0%;
}

.card {
  cursor: pointer;

  &hover {
    opacity: 0.65;
    color: #c9c9c9;
  }
}

/* NOSOTROS */

.fila {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: space-around;
}

.columna-img {
  border-radius: 20%;
  padding: 5%;
  width: 100%;
}

.columna-parraf {
  text-align: center;
  padding: 2%;
  font-size: 120%;
}

/* Talles */

.container-grid {
  margin: 2%;
}

.table-grid {
  background-color: rgb(211, 211, 211);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  padding: 3%;
}

.table-grid1 {
  text-align: center;
}

.table-grid2 {
  text-align: center;
}
.table-grid3 {
  text-align: center;
}
.table-grid4 {
  text-align: center;
}
.table-grid5 {
  text-align: center;
}

.size-grid {
  font-size: 150%;
}
