.container-grid {
  font-size: 120%;
  margin: 2%;

  .table-grid {
    background-color: rgb(211, 211, 211);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    padding: 3%;

    .table-grid1,
    .table-grid2,
    .table-grid3,
    .table-grid4,
    .table-grid5,
    .table-grid6 {
      text-align: center;
    }
  }
}
